header{
    .nav-bar{
        position: relative;
        z-index: 2;
    }
}
main{
    .background-sobre-mi{
        z-index: -1;
        img{
            position: absolute;
            width: 100%;
            height: auto;
            top:-40px;
            right: 0px;
        }
    }
    .contenedor-sobre-mi{
        @include flex;
        gap: 30px;
        z-index: 0;
        position: relative;
        top: 60px;
        h1{
            font-size:map-get($font-size , xl );
            font-weight: 300px;
            text-align: right;
            margin-right: 640px;
        }
        h2{
            font-size: map-get( $font-size , m );
            color:$color-azul-secundario;
            text-align: right;
            margin-right: 640px;
            font-weight: 300;
            padding-bottom: 10px;
        }
        .textos-sobre-mi{
            background-color: rgba(100, 103, 178, 0.8);
            backdrop-filter: blur(8px);
            overflow: auto;
            margin-right: 640px;;
            margin-left: 40px;
            box-shadow: 10px 10px 35px #100325;
            border-radius: 28px;
            padding:30px 40px;
            p{
                font-size:map-get($font-size , s );
                text-align: justify;
            }
        }
    }
    .contenedor-skills{
        position: relative;
        margin-top: 120px;
        margin-bottom: 90px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        .skills-textos{
            background-color: rgba(16, 0, 23, 0.6);
            box-shadow: 18px 18px 25px #100325;
            border-radius: 30px;
            width: 600px;
            height: 200px;
            display: flex;
            flex-wrap: wrap;
            flex-direction:row;
            justify-content: center;
            gap: 90px;
            h2{
                align-self:center;
                font-size: map-get($font-size , l);
            }
            .skills-list{
                padding-left: 5px;
                align-self: center;
                font-weight:lighter;
                display:flex;
                flex-direction: column;
                gap: 7px;
                li{
                    font-size: map-get($font-size , s );
                }
            }
        }
    }
    .contenedor-estudios{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 20px;
        text-align: center;
        h2{
            font-size: map-get($font-size , l );
        }
        h3{
            font-size: map-get($font-size , m );
            font-weight: 200px;
        }
        .buttons-estudios{
            padding-top: 10px;
            position: relative;
            z-index: 1;
            .button-trabajemos-juntos{
                background-color: map-get(map-get($botones , trabajemos-juntos),background-color);
                color: map-get(map-get($botones , trabajemos-juntos),color);
                border-color:  map-get(map-get($botones , trabajemos-juntos),border-color);
                border-radius:  map-get(map-get($botones , trabajemos-juntos),border-radius);
                width:  map-get(map-get($botones , trabajemos-juntos),width);
                height:  map-get(map-get($botones , trabajemos-juntos),height);
                font-weight: map-get(map-get($botones , trabajemos-juntos),font-weight);
                padding: map-get(map-get($botones , trabajemos-juntos),padding);
    
                &:hover{
                    background-color: $color-azul-secundario;
                    cursor: pointer;
                    color: $color-azul-oscuro;
                }
            }
            .button-descargar-cv{
                background-color: map-get(map-get($botones , descargar-book),background-color);
                color: map-get(map-get($botones , descargar-book),color);
                border-color:  map-get(map-get($botones , descargar-book),border-color);
                border-radius:  map-get(map-get($botones , descargar-book),border-radius);
                width:  map-get(map-get($botones , descargar-book),width);
                height:  map-get(map-get($botones , descargar-book),height);
                font-weight: map-get(map-get($botones , descargar-book),font-weight);
                padding: map-get(map-get($botones , descargar-book), padding);
                &:hover{
                    background-color: $color-morado-terciario;
                    cursor: pointer;
                    color: $color-morado-oscuro;
                }
            }
        }
    }
    .redes-sociales-sobre-mi{
        display: flex;
        justify-content: center;
        gap: 30px;
        z-index: 1;
        position: relative;
        margin: 0px 0px;
        padding-bottom: 30px;
        padding-top: 80px;
        a{
            img{
                z-index: 1;
                width: 100px;
                transition: transform 0.6s ease-in-out;
                &:hover{
                    transform: scale(0.7);
                }
            }
        }
    }
}