@media (max-width:425px){
    main{
        .background-nova-6{
            img{
                top:690px;
                width: 480px;
                height: auto;
                left: -100px;
            }
        }
        .lines-cuestionario{
            img{
                width: 68%;
                top: 0px;
            }
        }
    }
}
