@media (max-width:768px){
    main{
        .background-nova-6{
            img{
                top:650px;
                width: 60%;
            }
        }
        .lines-cuestionario{
            img{
                width: 48%;
                top: 0px;
            }
        }
    }
}