@media (max-width:925px){
    main{
        .background-nova-5{
            img{
                width: 50%;
                top: 410px;
            }
        }
        .lines-demoreel{
            img{
                left: 170px;
                top:290px;
                width: 100%;
            }
        }
    }
    
}