@media (max-width:768px){
    main{
        .background-nova-5{
            img{
                width: 50%;
                top: 410px;
            }
        }
        .lines-demoreel{
            img{
                left: 170px;
            }
        }
    }
    
}