@media (max-width:935px){
    header{
        .navbar-nav{
            background-color:$background-navbar-toggler;
            border-radius: 10px;
            padding-left: 20px;
            border: $border-navbar-toggler;
            margin-top: 4px;
            margin-left: 650px;
            backdrop-filter: blur(6px);
        }
    }
        main{
        padding: 0px 10px;
        .uriel-st{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 80px;
            .texts-uriel-st{
                h1{
                    font-size: 180px;
                    text-align: center;
                    padding-top: 30px;
                    margin-bottom: 0px;
                }
                h2{
                    font-size: 40px;
                    text-align: center;
                    margin-bottom: 30px;
                }
            }
            .buttons-uriel-st{
                z-index: 1;
                .button-trabajemos-juntos{
                    background-color: map-get(map-get($botones , trabajemos-juntos),background-color);
                    color: map-get(map-get($botones , trabajemos-juntos),color);
                    border-color:  map-get(map-get($botones , trabajemos-juntos),border-color);
                    border-radius:  map-get(map-get($botones , trabajemos-juntos),border-radius);
                    width:  map-get(map-get($botones , trabajemos-juntos),width);
                    height:  map-get(map-get($botones , trabajemos-juntos),height);
                    font-weight: map-get(map-get($botones , trabajemos-juntos),font-weight);
                    padding: map-get(map-get($botones , trabajemos-juntos),padding);
                    margin: 4px 4px 4px 0px;
                }
                .button-descargar-cv{
                    background-color: map-get(map-get($botones , descargar-book),background-color);
                    color: map-get(map-get($botones , descargar-book),color);
                    border-color:  map-get(map-get($botones , descargar-book),border-color);
                    border-radius:  map-get(map-get($botones , descargar-book),border-radius);
                    width:  map-get(map-get($botones , descargar-book),width);
                    height:  map-get(map-get($botones , descargar-book),height);
                    font-weight: map-get(map-get($botones , descargar-book),font-weight);
                    padding: map-get(map-get($botones , descargar-book), padding);
                }
            }
        }
        .sobre-mi-index{
            .contenedor-sobre-mi-index{
                .sobre-mi-text{
                    margin: 0px 35px;
                    margin-bottom: 40px;
                }
            }
        }
        .proyectos-recientes{
            padding: 40px 40px;
            margin: 0px 50px;
        }
        .background-lines-index{
            img{
                top:2400px;
            }
        }
    }
}